.features-section-two{
	position: relative;
	padding: 120px 0 100px;
}

.features-section-two .title-block{
	position: relative;
	margin-bottom: 40px;
}

.features-section-two .title-block .inner-box{
	padding: 50px 30px 0;
	background-color:#ffffff;
}

.features-section-two .title-block .sec-title{
	margin-bottom: 0;
}

.features-section-two .title-block .sec-title .title{
	margin-bottom: 5px;
    font-family: 'Playball', cursive !important;
}

.feature-block-two{
	position: relative;
	margin-bottom: 40px;
}

.feature-block-two .inner-box{
	position: relative;
	padding: 40px 30px;
	padding-left: 100px;
	background-color:#ffffff;
	border: 1px solid #eeeeee;
	box-shadow: 0 30px 40px rgba(0,0,0,0.10);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow: hidden;
}

.feature-block-two .inner-box:hover{
	box-shadow: none;
}

.feature-block-two .icon-box{
	position: absolute;
	left: 30px;
	top: 50px;
	display: block;
	margin-bottom: 30px;
}

.feature-block-two .icon-box .icon{
	position: relative;
	display: inline-block;
	font-size: 50px;
	line-height: 1em;
	background: rgb(247,0,104);
	background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
	background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
	background: linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
  	background: none;
  	color: #f14b59;
  	-webkit-transition: all 400ms ease;
  	-moz-transition: all 400ms ease;
  	-ms-transition: all 400ms ease;
  	-o-transition: all 400ms ease;
  	transition: all 400ms ease;
}

.feature-block-two .inner-box:hover .icon-box .icon{
	-webkit-transform: scale(-1) rotate(180deg);
	-moz-transform: scale(-1) rotate(180deg);
	-ms-transform: scale(-1) rotate(180deg);
	-o-transform: scale(-1) rotate(180deg);
	transform: scale(-1) rotate(180deg);
}

.feature-block-two h4{
	position: relative;
	display: block;
    font-family: 'Playfair Display', serif;
	font-size: 22px;
	line-height: 1.2em;
	color: #12114a;
	font-weight: 700;
	margin-bottom: 10px;
}

.feature-block-two h4 a{
	color: rgb(212 167 98);
    list-style: none;
    text-decoration: none;
	display: inline-block;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.feature-block-two h4 a:hover{
	color: #f14b59;
}

.feature-block-two .text{
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 24px;
	color: #888888;
	font-weight: 400;
	cursor: default;
}

.feature-block-two .link-box{
	position: relative;
	display: block;
}

.feature-block-two .link-box a{
	padding: 10px 20px;
	line-height: 20px;
	font-size: 14px;
}

.features-section-two .twist-line-1{
	left: -110px;
    top: 290px;
}

.features-section-two .twist-line-2{
	left: -10%;
    top: 80px;
}

.features-section-two .twist-line-3{
	left: 90px;
    top: 50px;
}

.twist-line-1{
	height: 70px;
	width: 80px;
	/* background-image: url(../images/icons/twist-line-1.png); */
}

.twist-line-2{
	height: 73px;
	width: 70px;
	/* background-image: url(../images/icons/twist-line-2.png); */
}

.twist-line-3{
	height: 73px;
	width: 70px;
	background-image: url(https://expert-themes.com/html/eventrox/images/icons/twist-line-3.png);
}

/*** 

====================================================================
	Features Section Three
====================================================================

***/

.features-section-three{
	position: relative;
	padding: 120px 0 80px;
}

.features-section-three.no-pd-top{
	padding-top: 0;
}

.feature-block-three{
	position: relative;
	margin-bottom: 40px;
}

.feature-block-three .inner-box{
	position: relative;
	padding: 20px 30px;
	padding-left: 170px;
	padding-right: 100px;
	background-color:#ffffff;
	border: 1px solid #eeeeee;
	box-shadow: 0 30px 40px rgba(0,0,0,0.10);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow: hidden;
}

.feature-block-three .inner-box:hover{
	box-shadow: none;
}

.feature-block-three .icon-box{
	position: absolute;
	left: 50px;
	top: 0;
	height: 100%;
	width: 70px;
	padding: 0 20px;
}

.feature-block-three .icon-box:before{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #40cbb4;
	content: "";
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
	-webkit-transition:all 600ms ease;
	-ms-transition:all 600ms ease;
	-o-transition:all 600ms ease;
	-moz-transition:all 600ms ease;
	transition:all 600ms ease;
}

.feature-block-three .inner-box:hover .icon-box:before{
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-ms-transform: skew(15deg);
	-o-transform: skew(15deg);
	transform: skew(15deg);
}

.feature-block-three .icon-box .icon{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	font-size: 40px;
	line-height: 1em;
  	margin-top: -20px;
  	margin-left: -20px;
	color: #ffffff;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.feature-block-three .inner-box:hover .icon-box .icon{
	-webkit-transform: scale(-1) rotate(180deg);
	-moz-transform: scale(-1) rotate(180deg);
	-ms-transform: scale(-1) rotate(180deg);
	-o-transform: scale(-1) rotate(180deg);
	transform: scale(-1) rotate(180deg);
}

.feature-block-three h4{
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 1.2em;
	color: #12114a;
	font-weight: 700;
	margin-bottom: 10px;
}

.feature-block-three h4 a{
	color: #12114a;
	display: inline-block;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.feature-block-three h4 a:hover{
	color: #40cbb4;
}

.feature-block-three .text{
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #888888;
	font-weight: 400;
	cursor: default;
}

.feature-block-three .link-box{
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -20px;
	font-size: 20px;
	border-radius: 50%;
}

.feature-block-three .link-box a{
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
	background-color: #40cbb4;
	border-radius: 10px;
	-webkit-transition:all 600ms ease;
	-ms-transition:all 600ms ease;
	-o-transition:all 600ms ease;
	-moz-transition:all 600ms ease;
	transition:all 600ms ease;
}

.feature-block-three .inner-box:hover .link-box a{
	transform:rotate(360deg);
	border-radius:0px;
}

.feature-block-three .inner-box:hover .link-box a{
	color: #ffffff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.feature-block-three:nth-child(3n + 2) .icon-box:before,
.feature-block-three:nth-child(3n + 2) .link-box a{
	background-color: #4c35a9;
}

.feature-block-three:nth-child(3n + 3) .icon-box:before,
.feature-block-three:nth-child(3n + 3) .link-box a{
	background-color: #e6275a;
}

.feature-block-three:nth-child(3n + 4) .icon-box:before,
.feature-block-three:nth-child(3n + 4) .link-box a{
	background-color: #1c94d2;
}


.icon-box img{
    height: 47px;
    color: red;
}
.dj-dis {
    
    color:#d4a762;
}

.text{
	font-family: "Roboto Condensed", sans-serif !important;
}

.sec-title{
	position: relative;
}

/* .img-fgn{
	position: absolute;
	left: 45px;
	top: 45px;
} */